* {
    margin: 0px;
    padding: 0px;
    font-family: 'Gemunu Libre', sans-serif;
}

body {
    background-color: #010708;
}

h1 {
    text-align: center;
    font-size: 50px;
    padding: 20px;
    background-color: #010708;
    color: whitesmoke;
}

#head-links {
    display: flex;
    justify-content: space-around;
    background-color: rgb(207, 207, 207);
    font-size: 25px;
    padding: 10px;
    margin: 0px 10px;
}

a {
    text-decoration: none;
    transition: 1s font-size;
    color: #010708;
}

a:hover {
    font-size: 30px;
}

.images {
    display: flex;
    justify-content: space-around;

    margin-top: 20px;
    height: 800px;
}